{% extends 'SeaBundle:Default:layout.html.twig' %}

{% block specifics_javascripts %}
    {#'nom_fichier_javascripts_propore_à_la_page'#}
    {%- javascripts
    -%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {%- endjavascripts -%}
{% endblock specifics_javascripts %}

{% block specifics_stylesheets %}
    {#{% stylesheets %}#}
    {#<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />#}
    {#{% endstylesheets %}#}
{% endblock specifics_stylesheets %}

{% block title %}Details{% endblock %}

{% block content %}
    <div class="page-header">
        <h1> Association "{{ association.name }}"</h1>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-muted">Informations générales</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Nom</h3>
                    </div>
                    <div class="panel-body">
                        {{ association.name}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Catégorie</h3>
                    </div>
                    <div class="panel-body">
                        {{ association.category.name}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Identifiant journal officiel</h3>
                    </div>
                    <div class="panel-body">
                        {% if association.oJIdentifier is defined %}
                            {{ association.oJIdentifier}}
                        {% else %}
                            <i>Non renseigné</i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-muted">Coordonnées</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">E-mail</h3>
                    </div>
                    <div class="panel-body">
                        {% if association.mail is not empty %}
                            {{ association.mail}}
                        {% else %}
                            <i>Non renseigné</i>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Téléphone</h3>
                    </div>
                    <div class="panel-body">
                        {% if association.phonenumber is not empty %}
                            {{ association.phonenumber}}
                        {% else %}
                            <i>Non renseigné</i>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Site internet</h3>
                    </div>
                    <div class="panel-body">
                        {% if association.website is not empty %}
                            {{ association.website}}
                        {% else %}
                            <i>Non renseigné</i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Facebook</h3>
                    </div>
                    <div class="panel-body">
                        {% if association.facebook is not empty %}
                            {{ association.facebook}}
                        {% else %}
                            <i>Non renseigné</i>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Twitter</h3>
                    </div>
                    <div class="panel-body">
                        {% if association.twitter is not empty %}
                            {{ association.twitter}}
                        {% else %}
                            <i>Non renseigné</i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Description</h3>
                    </div>
                    <div class="panel-body">
                        {{ association.description}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-muted">Adresse</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Adresse</h3>
                    </div>
                    <div class="panel-body">
                        {{ association.address.street}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Code postale</h3>
                    </div>
                    <div class="panel-body">
                        {{ association.address.zipcode}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ville</h3>
                    </div>
                    <div class="panel-body">
                        {{ association.address.city}}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}