{% extends 'SeaBundle:Default:layout.html.twig' %}

{% block specifics_javascripts %}
    {#'nom_fichier_javascripts_propore_à_la_page'#}
    {%- javascripts
    -%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {%- endjavascripts -%}
{% endblock specifics_javascripts %}

{% block specifics_stylesheets %}
    {#{% stylesheets %}#}
    {#<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />#}
    {#{% endstylesheets %}#}
{% endblock specifics_stylesheets %}

{% block title %}Index{% endblock %}

{% block content %}
    <!-- Title -->
    <div class="row">
        <div class="col-lg-11">
            <h3>Voici les associations trouvées :</h3>
        </div>
        <div class="col-lg-1">
            <h3><p>retour: <a href="{{ path("sea_associations") }}"><span class="glyphicon glyphicon-fast-backward"></span></a></p></h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">
    {% for association in associations%}
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">

                <div class="caption">
                    <h3>{{ association.name}}</h3>
                    <p>{{ association.description}}</p>
                    <p>
                        <a href="#" class="btn btn-primary">S'abonner</a> <a href="#" class="btn btn-default">Voir détails</a>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="row text-center">
    {% for association in associations%}
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">

                <div class="caption">
                    <h3>{{ association.name}}</h3>
                    <p>{{ association.description}}</p>
                    <p>
                        <a href="#" class="btn btn-primary">S'abonner</a> <a href="#" class="btn btn-default">Voir détails</a>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}