{% extends 'SeaBundle:Default:layout.html.twig' %}

{% block specifics_javascripts %}
    {#'nom_fichier_javascripts_propore_à_la_page'#}
    {%- javascripts
    -%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {%- endjavascripts -%}
{% endblock specifics_javascripts %}

{% block title %}Index{% endblock %}

{% block content %}



    <body>
 <!-- Page Content -->
    <div class="container">

        <!-- center Header -->
        <header class="jumbotron hero-spacer">
            <h1>Découvrez notre histoire!</h1>
            <p>
                Découvrez le grand réseau d'association qui vous ai proposé.
                Notre Objectif ? Repertorier toutes les associations afin de vous offrir l'association qui vous correspond.
            </p>

            </p>
        </header>

        <hr>
        <header class="jumbotron hero-spacer">
            <h1>Des points fort!</h1>
            <p>
                Pour améliorer le resultat de votre recherche,
                Les associations proposées vous sont triées à la main
            </p>

            </p>
        </header>


        </div>





    </div>


    </body>
{% endblock %}