<!-- Footer -->
{#<div class="container">#}
    {#<p class="text-center text-muted">Copyright &copy; SEA Website 2016</p>#}
{#</div>#}
<div class="row text-center">
    <div class="col-lg-12">
        <p class="text-muted">Copyright &copy; SEA Website 2016</p>
    </div>
</div>