<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="row">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path("sea_homepage") }}">Search Engine Associations</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ path("sea_apropos") }}">A propos</a>
                        </li>
                        <li>
                            <a href="{{ path("sea_associations") }}">Associations</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="margin-right: 0;">
                        <li>
                            <a href="{{ path("sea_login") }}">Se connecter</a>
                        </li>
                        <li>
                            <a href="{{ path("sea_signin") }}">S'inscrire</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>