{% extends 'SeaBundle:Default:layout.html.twig' %}

{% block specifics_javascripts %}
    {#'nom_fichier_javascripts_propore_à_la_page'#}
    {%- javascripts
    -%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {%- endjavascripts -%}
{% endblock specifics_javascripts %}

{% block title %}Index{% endblock %}

{% block content %}
 <!-- Page Content -->
    <div class="container">
        <!-- center Header -->
        <header class="jumbotron hero-spacer">
            <h1>Bienvenue sur SEA!</h1>
            <p>
                Venez Découvrir le grand réseau d'association qui vous ai proposé.
                Participer activement à la vie de votre association.
            </p>
            </p>
        </header>

        <hr>
        <!-- Title -->
        <div class="page-header">
            <h1> Rechercher une ou plusieurs associations</h1>
        </div>
        <form class="form-horizontal" role="form" action="{{ path('sea_research') }}" data-toggle="validator" method="post" id="form-research">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <input type="text" class="input-sm form-control" name="name" placeholder="Nom d'association">
                </div>
                <div class="col-xs-12 col-md-2">
                    <input type="number" class="input-sm form-control" name="zipcode" placeholder="Code postale">
                </div>
                <div class="col-md-4">
                    <select multiple class="form-control" name="category">
                        <option value="" >-- Séléctionner une catégorie --</option>
                    {% for category in categories%}
                        <option value="{{ category.id}}" >{{ category.name}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="col-xs-6 col-md-2">
                    <button type="submit" class="btn btn-info">Rechercher</button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}