{% extends 'SeaBundle:Default:layout.html.twig' %}

{% block specifics_javascripts %}
    {#'nom_fichier_javascripts_propore_à_la_page'#}
    {%- javascripts
    -%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {%- endjavascripts -%}
{% endblock specifics_javascripts %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <div class="container">

            <div class="page-header">
                <h1> Inscription <br/> <small> Merci de renseigner vos informations </small></h1>
            </div>


            <div class="row">
                <div class="col-md-offset-2 col-md-3">
                    <div class="form-group">
                        <label for="Nom">Nom</label>
                        <input type="text" class="form-control" id="nom" placeholder="Nom">
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-3">
                    <div class="form-group">
                        <label for="Prenom">Prénom</label>
                        <input type="text" class="form-control" id="prenom" placeholder="Prénom">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-7">
                    <div class="form-group">
                        <label for="mail">Email address</label>
                        <input type="text" class="form-control" name="mail" id="mail" placeholder="Enter email">
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-7">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" name="address" id="address" placeholder="Enter address">
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-3">
                    <div class="form-group">
                        <label for="Password">Mot de passe</label>
                        <input type="password" class="form-control" id="password" placeholder="Mot de passe">
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-3">
                    <div class="form-group">
                        <label for="Vpassword">Vérification mot de passe</label>
                        <input type="password" class="form-control" id="vpassword" placeholder="Vérification mot de passe">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-earphone"></span>
                        <input type="text" class="form-control" placeholder="Téléphone" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-globe"></span>
                        <input type="text" class="form-control" placeholder="Adresse" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>

            <br/>
            <div class="row">
                <div class="col-md-offset-5 col-md-1">
                    <button type="button" class="btn btn-primary">Envoyer mes informations</button>
                </div>
            </div>


    </div>
{% endblock %}